*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root{
    --menu-count: 3;
}
header{
    background: rgba(0, 0, 0, 0.866);
    padding: 10px 20px;
    top:0; left:0 ; right:0;
    height: 60px;
    position: fixed;  
    box-shadow: 0 5px 10px grey;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 100;
}

/*----------logo----------*/

.nav_logo{
    display: flex;
    align-items: center;
}

.nav_logo img{
    width: 60px;
    margin-right: 10px;
}

.logo_text{
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
}

#first_text{
    font-family: Lilita One, Tilt Warp;
    font-size: 30px;
}

#second_text{
    font-family: Michroma;
    font-size: 12px;
    display: block;
}

/*------------ig icon-----------*/

.navbar_item_with_ig{
    display: flex;
    align-items: center;
}

.ig_link{
    font-size: 35px;
    color: white;
    position: relative;
    top: 5px;
    padding-left: 20px;
}

.ig_link:hover{
    color: rgb(0, 0, 0);
}

/*-----------navbar item-------------*/

.navbar{  
    font-family:Tilt Warp;
    display: flex;
    align-items: center;
}

.navbar a:hover{
    color: rgb(0, 0, 0);
}

.navbar_item li:hover{
    background-color:rgb(78, 79, 79);
    transition: ease-in-out 0.4s;
}

.navbar_item li{
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 15px 10px;
}

.navbar_item li a{
    color: white;
    padding: 10px;
}


/*------------dropdown------------*/

.dropdown li{
    display: block;
}

.dropdown{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    display: none;
    top: 50px; 
    padding: 10px;
    width: 100px;
    display: block;
    background: rgba(0, 0, 0, 0.866); 
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2); 
    z-index: 101;
    transform: translatex(-16%);
}

.navbar_item li:hover> .dropdown {
    visibility: visible;
    opacity: 1;
}



.toggle{
    font-size: 35px;
}

.toggle a{
    color: white;
    display: none;
}


/* @media screen and (max-width: 600px) {
    header{
        display: block;
    }
    nav{
        display: block;
        position: relative;
    }
    .ig_link{
        display: none;
    }
    .navbar{
        display: none;
    }

    .nav.active, .toggle a{
        display: block;
    }
    .toggle {
        position: absolute;
        top: -50px; right:0px
    }

} */

@media screen and (max-width: 610px) {
    .navbar_item_with_ig{
        position: fixed;
        height: 100%;
        top:0; right:0; 
        background: rgba(0, 0, 0, 0.678);
        backdrop-filter: blur(5px);
        flex-direction: column;
        gap: 20px;
        padding: 5rem 0;
        transition: ease-in-out 0.5s;
    }



    .navbar_item li{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .dropdown li{
        display: block;
        font-size: 10px;
        right:  

        
    }
    .dropdown{
        padding: 0;
        margin: 0;
        width: 100px;
    }
    
    .navbar_item{
        position: relative;
        flex-direction: column;
    }
    .dropdown{
        position: absolute;
        width: 200px;
    }
}