*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.nav_logo img{
    width: 60px;
    margin-right: 10px;
}

.nav_logo a{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Lilita One";
    display: flex;
    align-items: center;
}

.nav_logo{
    flex: 1;
}

.ig_link a{
    font-size: 40px;
    color: white;
    position: relative;
    top: 5px;;
    padding-left: 20px;
}

.toggle{
    font-size: 30px;
    display: none;
}

header{
    background: rgba(0, 0, 0, 0.866);
    padding: 10px 20px;
    top:0; left:0 ; right:0;
    position: fixed;  
    box-shadow: 0 5px 10px grey;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    z-index: 100;
}

nav{  
    font-family: "Tilt Warp";
}

nav a:hover{
    color: rgb(0, 0, 0);
}

ul li:hover{
    background-color:rgb(78, 79, 79);
    transition: ease-in-out 0.4s;
}

ul li{
    display: inline-block;
    list-style: none;
    padding: 15px 10px;
}

.navbar{
    position: relative;
}

ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    display: none;
    top: 50px; 
    padding: 10px;
    width: 100px;
    display: block;
    background: rgba(0, 0, 0, 0.866); 
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2); 
    z-index: 101;
    transform: translatex(-16%);
}

ul li:hover>ul.dropdown {
    visibility: visible;
    opacity: 1;

}


ul li a{
    color: white;
    padding: 10px;
}

.toggle a{
    color: white;
}

@media screen and (max-width: 500px) {
    nav{
        d
    }
} 
